* {
  box-sizing: border-box;
}
body {
  font-family:sans-serif;
  margin: 0px;
  background-color: rgb(36, 36, 120);
}

.app-container {
	width: 517px;
	background-color: white;
  box-shadow: 0px 4px 16px rgba(126, 133, 142, 0.16);
	margin: 20px auto;
	width: 317px;
	padding: 20px 10px;
	border-radius: 5px;
  }
  
/* .Uploadlogo {
    background-color: #217be1;
    color: white;
    padding: 5px 0px;
    margin-left: 5px;
    width: 50%;
}
.uploadphoto{
  background-color: #217be1;
  color: white;
  padding: 5px 0px;
  margin-left: 13px;

} */

.form-one-next {
  background-color: #242478;
  color: white;
  padding: 6px 21px;
  border: none;
}
.form-one-next:hover{
  background-color: #424293;
}
.header-container {
	display: flex;
  }
.main-heading {
    font-size: 20px;
    color: #242478;
    text-align: center;
}
img.profile-img {
  width: 104px;
}
.footer-container {
  display: flex;
  padding-bottom: 65px;
  padding-top: 0;
  bottom: 0;
  position: absolute;
  margin-left: 24px;
  font-size: 14px;

}
.form-group{
  font-size: 12px;
  display : flex;
  align-items : center;
  margin-bottom:15px;
  }
  .form-group label {
    width: 120px;
    padding:0px 10px;
  }
  .form-group input{
     width: calc( 100% - 120px )
  }

.link {
  color: #242478;
    text-decoration: none;
    font-size: 12px;
}
.form-group .profile {
  display: inline-block;
}
.text-center{
  text-align: center;
}
hr{
  border: 0.5px solid #efe9e9;
}